:root{
    --blue: #1e3a8a;
    --skyblue: #3d7Ab6;
    --dark: #333333;
    --bg: #f1f1f1;
    --white: #ffffff;
} 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Roboto', Sant-Serif;
}

body {
    color: var(--dark);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a:hover {
 color: var(--skyblue);
}

.top-bar {
    background-color: var(--bg);
    padding: 8px 0;
    font-size: 13px;
}

.top-links a {
  margin-right: 15px;
  color: #4b5563;    
}

.mainnav {
    padding: 20px 0;
    border-bottom: 2px solid var(--blue);
}

.nav-links a {
  margin: 0 15px;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
 color: #3d7Ab6;
}



.hero {
    background: linear-gradient(135deg, var(--blue), #3b82f6);
    color: var(--white);
    padding: 100px 0;
    text-align: left;
}

.hero  h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn-podrobno {
    background-color: var(--skyblue);
    padding: 12px 24px;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
.btn-podrobno:hover {
   background-color: #3b82f6;

}


.services {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
}
.services-card {
    background-color: var(--white);
    padding: 30px;
    border-radius: 8px;
    flex:1;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border-top: 4px solid transparent;
}
.services-card:hover {
    border-top: 4px solid var(--skyblue);
}

.services-card h3 {
    color: var(--blue);
    margin-bottom: 15px;
}

.link-more {
    display: block;
    margin-top: 15px;
    color: var(--skyblue);
    font-weight: 500;
}


.footer  {
    background-color: var(--dark);
    color: var(--white);
    padding: 50px 0 20px;
 }

.footer-grid {
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    margin-bottom: 30px;
}

.footer-col {
    min-width:200px;
}

.footer-col h4 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}

.footer-col p, .footer-col ul li {
    margin-bottom: 12px;
    font-size: 14px;
    color: #ccd2da;
}

.footer-col ul li a:hover {
    color: var(--white);
}

.footer-bottom {
        border-top: 1px solid rgba(255,255,255,0.2);
        padding-top: 20px;
        text-align: center;
        font-size: 12px;  
        background-color: var(--dark);
        color: var(--bg);
       
}
