:root{
    --blue: #1e3a8a;
    --orange: #ea580c;
    --dark: #333333;
    --white: #ffffff;
    --bg: #f9fafb;
} 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Roboto', Sant-Serif;
}

body {
    color: var(--dark);
    background-color: var(--white);
    line-height: 1.6;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar {
    background-color: #fbfbfb;
    padding: 8px 0;

}
nav a {
    text-transform: uppercase;
}
body a {
    outline: none !important;
}